// Color Variables-----------------------------------//
$colorprimary: rgb(216, 51, 74);
$colprimrgrad:  rgb(216, 51, 74, .25);
$colprimrgradpr: rgb(216, 51, 74, .35);
$fontsecol: #4CAF50;
$colorback: #f7f5f0;
$coltech: #023e8a;
$colhard: #2d6a4f;
$blackgrad: rgb(0, 0, 0, .6);
$colsoft: darken(#4d908e, 10%);
$colors: #023e8a, #4d908e, #ca6702, #2d6a4f, #EC7063, #AF7AC5, #5DADE2, #48C9B0, #58D68D, #F7DC6F, #F8C471, #F0B27A, #E59866, #3498DB, #1ABC9C, #D35400;

// Font ----------------------------------------------//

$fontfamily: 'Source Sans Pro', sans-serif;;
$fontlight: 300;
$fontbold: 700;
$blkquotefntsiz: 1.5em;
$gutter: 10px;


//  Media Queries-----------------------------------------//

$smbreak: 576px;
$mdbreak: 768px;
$lgbreak: 992px;
$xlbreak: 1200px;

// images -------------------------------------------------//

$imagessm: url('../images/banff_small.jpg'), url('../images/city_small.jpg'), url('../images/paradise_small.jpg');
$imageslg: url('../images/banff.jpg'), url('../images/city.jpg'), url('../images/paradise.jpg');
