.info{
  flex-direction: column;
  position: absolute;
  background-color: white;
  padding: 5px 20px 20px;
  line-height: 1.2;
  width: 75px;
  height: 75px;
  box-shadow: 0px 0px 10px 1px randomColor($colors) inset;
  -webkit-box-shadow: 0px 0px 10px 1px randomColor($colors) inset;
  -moz-box-shadow: 0px 0px 10px 1px randomColor($colors) inset;
  z-index: 3;
  overflow-y: scroll;
  border-radius: 6px;
}

.me{
  @extend .outwindow;
  h3{
    font-weight: 400;
  }
  .back-wrapper{
    background-image: linear-gradient(rgb(0, 0, 0, .9), rgb(0, 0, 0, .7)), url('../images/background-small.jpg');
    background-size: cover;
    font-size: 1.2em;
    font-weight: 300;
    color: white;
    position: relative;
    margin-top: 20px;
    @media (min-width: $mdbreak) {
      background-image: linear-gradient(rgb(0, 0, 0, .9), rgb(0, 0, 0, .7)), url('../images/background.jpg');
    }
    &:before{
      content: '';
      width: 100%;
      height: 30px;
      position: absolute;
      background: inherit;
      z-index: 1;
      top: 0px;
      transform-origin: left top;
      transform: skewY(-3deg);
      background-image: linear-gradient(white, white);
      @media (min-width: $mdbreak) {
        height: 75px
      }
    }
    .background{
      padding: 30px 5px 70px;
      max-width: 500px;
      width: 100%;
      @media (min-width: $lgbreak), (min-height: $lgbreak) {
        padding: 30px 0px 70px;
        margin: 0px 10% 0px auto;
        font-size: 1.6em;
      }
    }
  }
  .goal-wrapper{
    background-color: $fontsecol;
    color: white;
    position: relative;
    font-size: 1.2em;
    font-weight: 300;
    &:before{
      content: '';
      width: 100%;
      height: 75px;
      position: absolute;
      background: inherit;
      z-index: 1;
      top: 0px;
      transform-origin: center right;
      transform: skewY(3deg);
    }
    &:after{
      content: '';
      width: 100%;
      height: 75px;
      position: absolute;
      background: inherit;
      z-index: 1;
      bottom: 0px;
      transform-origin: center right;
      transform: skewY(-3deg);
    }
  }
  .goal{
    max-width: 400px;
    padding: 40px 5px 55px;
    @media (min-width: $lgbreak), (min-height: $lgbreak) {
      padding: 1px 0px 1px;
      margin: 0px auto 0px 10%;
      font-size: 1.6em;
    }
  }
}

.resume-box{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 75px;
  margin-top: 50px;
  padding: 10px;
  border: 1px solid randomColor($colors);
  border-radius: 50%/100% 100% 0px 0px;
  background-color: $colorback;
  font-weight: 300;
  @media (min-width: $mdbreak) {
    margin-top: 100px;
  }
  h3{
    flex: 1 100%;
    min-width: 100%;
    margin: 0px 0px -15px;
    text-align: center;
  }
  .view{
    flex: 1 50%;
    max-width: 50%;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
  }
  .download{
    flex: 1 50%;
    max-width: 50%;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
  }
}
.resume{
  width: 100%;
  height: fit-content;
  .res-wrapper{
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
  }
  .heady{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: #a7cdfe;
    padding-bottom: 10px;
  }
  h2{
    margin-bottom: 10px;
  }
  .cont{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @extend .res-wrapper;
    @media (min-width: $mdbreak), (min-height: $mdbreak) {
      flex-direction: row;
    }
  }
  a{
    text-decoration: none;
    color: inherit;
  }
  .sm-ic{
    width: 1.2em;
    height: 1.2em;
    margin-right: 15px;
  }
  hr{
    margin: 0px;
  }
  .skil{
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    h2{
      flex: 12 100%;
      min-width: 100%;
    }
    .item{
      padding: 8px;
      border-right: 1px solid white;
      background-color: #a7cdfe;
      font-weight: 500;
    }
  }
  .projects{
    margin: 10px auto;
    .links{
      display: flex;
      flex-direction: column;
      @media (min-width: $mdbreak){
      flex-direction: row;
      justify-content: space-between;
      }
    }
  }
  h3{
    margin-bottom: 10px;
    margin-top: 0px;
  }
  ul{
    padding-inline-start: 15px;
    margin-top: 5px;
  }
  .experience{
    margin: 10px auto;
  }
  .work{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    h3{
      @media (min-width: $mdbreak), (min-height: $mdbreak) {
        flex: 1 33%;
        max-width: 33%;
      }
    }
    .duration{
      display: flex;
      justify-content: flex-end;
      margin: 5px 0px;
      flex: 1 50%;
      @media (min-width: $mdbreak), (min-height: $mdbreak) {
        flex: 1 33%;
        max-width: 33%;
      }
    }
    .role{
      margin: 5px 0px;
      flex: 1 50%;
      @media (min-width: $mdbreak), (min-height: $mdbreak) {
        flex: 1 33%;
        max-width: 33%;
      }
    }
  }
  .education{
    margin: 10px auto;
  }
  .course{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (min-width: $mdbreak), (min-height: $mdbreak) {
      flex-direction: row;
      justify-content: space-between;
    }
    .goli{
      min-width: 100%;
    }
  }
  p{
    margin: 5px 0px;
  }
}

.portfolio{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  @extend .outwindow;
  h2{
    flex: 3 100%;
    text-align: center;
  }
  h3{
    color: $fontsecol;
  }
}

.card{
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.3vw;
  width: 100%;
  min-width: 300px;
  max-width: 380px;
  &:hover{
    cursor: pointer;
  }
  @media (min-width: $lgbreak), (min-height: $lgbreak) {
    flex-direction: row;
  }
  .info-card{
    width: inherit;
    height: 0px;
    @media (min-width: $lgbreak), (min-height: $lgbreak) {
      height: 100%;
      width: 0px;
    }
  }
  img{
    width: 100%;
    min-width: 300px;
    max-width: 380px;
    border-radius: 6px;
    box-shadow: 0px 0px 0px 1px randomColor($colors);
    -webkit-box-shadow: 0px 0px 0px 1px randomColor($colors);
    -moz-box-shadow: 0px 0px 0px 1px randomColor($colors);
  }
  h3{
    margin: 0px;
  }
  .git{
    text-decoration: none;

  }
  .gpage{
    text-decoration: none;
    margin-top: 0px;
  }
  #rev-card{
    align-self: flex-start;
    flex-direction: column;
    border: 1px solid randomColor($colors);
    border-radius: 0px 0px 8px 8px;
    padding: 10px;
    box-shadow: 0px 0px 10px 1px randomColor($colors) inset;
    -webkit-box-shadow: 0px 0px 10px 1px randomColor($colors) inset;
    -moz-box-shadow: 0px 0px 10px 1px randomColor($colors) inset;
    @media (min-width: $mdbreak) {
      padding: 20px;
    }
  }
}

.skills{
  @extend .outwindow;
  text-align: center;
  margin: 0px auto auto;
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  position: absolute;

  @media (min-width: $lgbreak), (min-height: $lgbreak) {
    left: 25%;
  }
  h2 {
    color: randomColor($colors);
    margin-top: 6px;
    flex: 4 100%;
  }
  .champ{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    border-radius: 6px;
    min-width: 200px;
    height: fit-content;
  }
  .tech{
    color: $coltech;
    border: 2px solid $coltech;
    h3{
      margin: 0px;
      padding: 8px 0;
      background-color: lighten($coltech, 35%);
    }
    .item{
      padding: 8px 0;
      background-color: lighten($coltech, 55%);
      font-weight: 500;
    }
  }
  .hard{
    color: $colhard;
    border: 2px solid $colhard;
    h3{
      margin: 0px;
      padding: 8px 0;
      background-color: lighten($colhard, 35%);
    }
    .item{
      padding: 8px 0;
      background-color: lighten($colhard, 55%);
      font-weight: 500;
    }
  }
  .soft{
    color: $colsoft;
    border: 2px solid $colsoft;
    h3{
      margin: 0px;
      padding: 8px 0;
      background-color: lighten($colsoft, 30%);
    }
    .item{
      padding: 8px 0;
      background-color: lighten($colsoft, 45%);
      font-weight: 500;
    }
  }
}

.contact{
  @extend .outwindow;
  margin: 0px auto auto;
  text-align: center;
  width: 90%;
  position: absolute;
  @media (min-width: $lgbreak), (min-height: $lgbreak) {
    left: 5%;
  }
  h2{
    color: randomColor($colors);
  }
  .offer{
    padding: 20px;
    background-color: randomColor($colors);
    color: white;
    font-weight: 500;
    border: 2px solid randomColor($colors);
    transform: translateX(-600%);
    animation: moveHead 1s 5s cubic-bezier(.07,.64,.77,1.37) forwards;
    border-radius: 10px;
  }
  a{
    text-decoration: none;
  }
}
