* {
  box-sizing: border-box;
}

body{
  max-width: 100%;
  width: 100%;
  max-height: 100vh;
  height: 100vh;
  font-family: $fontfamily;
  font-size: 16px;
  position: relative;
  overflow-y: scroll;
}
